<%= form_for @vmax, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :serial_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :serial_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :system_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :system_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :enginuity_code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :enginuity_code, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :target_code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :target_code, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ship_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :ship_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :install_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :install_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :esrs_enabled, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :esrs_enabled, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contract_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :contract_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contract_expiration, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :contract_expiration, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :raw_tb, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :raw_tb, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :engine_count, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :engine_count, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :openscale, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :openscale, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  vmaxes_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
