<h1>Listing vmaxes</h1>

<table>
  <thead>
    <tr>
      <th>Serial number</th>
      <th>System name</th>
      <th>Enginuity code</th>
      <th>Target code</th>
      <th>Ship date</th>
      <th>Install date</th>
      <th>Esrs enabled</th>
      <th>Contract number</th>
      <th>Contract expiration</th>
      <th>Raw tb</th>
      <th>Engine count</th>
      <th>Openscale</th>
      <th>Site</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vmaxes.each do |vmax| %>
      <tr>
        <td><%= vmax.serial_number %></td>
        <td><%= vmax.system_name %></td>
        <td><%= vmax.enginuity_code %></td>
        <td><%= vmax.target_code %></td>
        <td><%= vmax.ship_date %></td>
        <td><%= vmax.install_date %></td>
        <td><%= vmax.esrs_enabled %></td>
        <td><%= vmax.contract_number %></td>
        <td><%= vmax.contract_expiration %></td>
        <td><%= vmax.raw_tb %></td>
        <td><%= vmax.engine_count %></td>
        <td><%= vmax.openscale %></td>
        <td><%= vmax.site %></td>
        <td><%= vmax.model %></td>
        <td><%= link_to 'Show', vmax %></td>
        <td><%= link_to 'Edit', edit_vmax_path(vmax) %></td>
        <td><%= link_to 'Destroy', vmax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vmax', new_vmax_path %>
