<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @vmax.serial_number %>
</p>

<p>
  <strong>System name:</strong>
  <%= @vmax.system_name %>
</p>

<p>
  <strong>Enginuity code:</strong>
  <%= @vmax.enginuity_code %>
</p>

<p>
  <strong>Target code:</strong>
  <%= @vmax.target_code %>
</p>

<p>
  <strong>Ship date:</strong>
  <%= @vmax.ship_date %>
</p>

<p>
  <strong>Install date:</strong>
  <%= @vmax.install_date %>
</p>

<p>
  <strong>Esrs enabled:</strong>
  <%= @vmax.esrs_enabled %>
</p>

<p>
  <strong>Contract number:</strong>
  <%= @vmax.contract_number %>
</p>

<p>
  <strong>Contract expiration:</strong>
  <%= @vmax.contract_expiration %>
</p>

<p>
  <strong>Raw tb:</strong>
  <%= @vmax.raw_tb %>
</p>

<p>
  <strong>Engine count:</strong>
  <%= @vmax.engine_count %>
</p>

<p>
  <strong>Openscale:</strong>
  <%= @vmax.openscale %>
</p>

<p>
  <strong>Site:</strong>
  <%= @vmax.site %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vmax.model %>
</p>

<%= link_to 'Edit', edit_vmax_path(@vmax) %> |
<%= link_to 'Back', vmaxes_path %>
