<h1>Listing sites</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Site</th>
      <th>State</th>
      <th>Street</th>
      <th>Ce email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.city %></td>
        <td><%= site.site_id %></td>
        <td><%= site.state %></td>
        <td><%= site.street %></td>
        <td><%= site.ce_email %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
